<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<!-- Форма ошибки. Например, при попытке обратиться к несуществующей странице -->
<head>
    <meta charset="utf-8"/>
    <title>Ошибка - Чат</title>
    <link rel="stylesheet" href="css/home.css"/>
</head>

<body>
<h1 th:inline="text">Ошибка прав доступа либо страница не существует!</h1>
<form th:action="@{/logout}" method="post">

    <div class="buttongroup">
        <div style="text-align: center;">
            <button type="button" class="button buttonBlue" onclick="history.back();">Назад
                <div class="ripples buttonRipples">
                    <span class="ripplesCircle"></span></div>
                <button type="submit" class="button buttonWhite">Выйти
                    <div class="ripples buttonRipples">
                        <span class="ripplesCircle"></span></div>
                </button>
            </button>
        </div>
    </div>

</form>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="js/login.js"></script>
</body>
</html>