<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Чат</title>
    <link rel="stylesheet" href="css/home.css"/>
</head>
<body>
<h1>Чат</h1>

<div style="text-align: center;position: absolute; width: 90%" class="error-label nice-label" th:if="${#httpServletRequest.remoteUser}!=null"
     th:utext="'Вы вошли в систему под пользователем - ' + ${#httpServletRequest.remoteUser}">..</div>


<form th:action="@{/logout}" method="post">
      <div class="buttongroup">
        <div style="text-align: center;">
            <button th:if="${#httpServletRequest.remoteUser}!=null" type="submit" class="button buttonBlue">Выход
                    <div class="ripples buttonRipples">
                        <span class="ripplesCircle"></span>
                    </div>
                </button>
                <button th:if="${#httpServletRequest.remoteUser}==null" type="button" class="button buttonBlue" onclick="window.location.href='/login'">Вход
                    <div class="ripples buttonRipples">
                        <span class="ripplesCircle"></span>
                    </div>
                </button>
                <button type="button" class="button buttonWhite" onclick="window.location.href='/registration'">Регистрация
                    <div class="ripples buttonRipples">
                        <span class="ripplesCircle"></span>
                    </div>
                </button>
        </div>
    </div>
</form>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="js/login.js"></script>
</body>
</html>