<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Чат - регистрация</title>
    <link rel="stylesheet" href="css/login.css"/>
</head>
<body>

<h1>Чат - регистрация</h1>

<form th:action="@{/register}" th:object="${registrationForm}" method="post">

    <div class="error-label" th:if="${infoMessage!=null}"
         th:utext="${infoMessage}">..
    </div>

    <div class="group">
        <input type="text" placeholder="Логин" maxlength="50" name="username" th:field="*{userName}" required="true"
               autofocus="true"/><span class="highlight"></span><span class="bar"></span>
        <div style="text-align: center;">
            <label>Логин</label>
        </div>
    </div>
    <div class="group">
        <input type="password" name="password" placeholder="Пароль" maxlength="50" th:field="*{password}"
               required="true"/><span class="highlight"></span><span class="bar"></span>
        <div style="text-align: center;">
            <label>Пароль</label>
        </div>
    </div>
    <div class="buttongroup">
        <div style="text-align: center;">
            <button type="button" class="button buttonBlue" onclick="window.location.href='/'">Отмена
                <div class="ripples buttonRipples">
                    <span class="ripplesCircle"></span></div>
                <button type="submit" class="button buttonWhite">OK
                    <div class="ripples buttonRipples">
                        <span class="ripplesCircle"></span></div>
                </button>
            </button>
        </div>
    </div>
</form>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="js/login.js"></script>
</body>

</html>