* { box-sizing:border-box; }

body {
    font-family: Helvetica;
    background: #eee;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-weight: bold;
    font-size: 22px;
    color: #636363;
    text-align:center;
    margin-top: 1em;
    margin-bottom: -4em;
}
form {
    width: 350px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;

}

.group {
    position: relative;
    margin-bottom: 15px;
}

.buttongroup {
    margin-top: -1em;
    position: relative;
}


input {
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    -webkit-appearance: none;
    display: block;
    background: #eee;
    color: #636363;
    width: 100%;
    border-radius: 3px;
    border-left: 1px solid #757575;
    border-top: 1px solid #757575;
    border-bottom: 1px solid #757575;
    border-right: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */
label {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    pointer-events: none;
    /*left: 50px;*/
    top: -50px;
}


/* active */

input:focus ~ label, input.used ~ label {
    top: -20px;
    -webkit-transform: scale(.75);
    transform: scale(.75); left: -2px;
    color: #4a89dc;
}


/* Underline */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4a89dc;
    transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* Animations */

@-webkit-keyframes inputHighlighter {
    from { background: #4a89dc; }
    to 	{ width: 0; background: transparent; }
}

@keyframes inputHighlighter {
    from { background: #4a89dc; }
    to 	{ width: 0; background: transparent; }
}


/* Button */

.button {
    position: relative;
    /*margin: .3em 0 1em 0;*/
    width: 100%;
    vertical-align: middle;
    font-size: 12px;
    line-height: 12px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    /*border: 1;*/
    border-bottom: 1px solid #636363;
    border-top: 1px solid #636363;
    border-left: 1px solid #636363;
    border-right: 1px solid #636363;
    cursor: pointer;
    border-radius: 3px;
    /*transition: all 0.15s ease;*/
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
    width: 40%;
    color: #fff;
    background: #4a89dc;
    padding: 8px 24px;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
    margin-right: 1px;
}

.buttonBlue:hover { background: #357bd8; }

.buttonWhite {
    width: 20%;
    background: #eee;
    text-align: center;
    padding: 8px 14px;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonWhite:hover { background: #357bd8;}



/* Ripples container */

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}


/* Ripples circle */

.ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
    -webkit-animation: ripples .4s ease-in;
    animation: ripples .4s ease-in;
}


/* Ripples animation */

@-webkit-keyframes ripples {
    0% { opacity: 0; }

    25% { opacity: 1; }

    100% {
        width: 200%;
        padding-bottom: 200%;
        opacity: 0;
    }
}

@keyframes ripples {
    0% { opacity: 0; }

    25% { opacity: 1; }

    100% {
        width: 200%;
        padding-bottom: 200%;
        opacity: 0;
    }
}



footer a {
    color: #4a89dc;
    text-decoration: none;
    transition: all .2s ease;
}

footer a:hover {
    color: #666;
    text-decoration: underline;
}
